@import "./colors";
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: var(--fundr-base-font);
  font-size: 62.5%;
}

body {
  background-color: $warm-grey;
}
